@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    @apply text-5xl font-bold;
  }
  .h2 {
    @apply text-4xl font-bold;
  }
  .h3 {
    @apply text-3xl font-semibold;
  }
  .h4 {
    @apply text-2xl font-light;
  }
  .p-body {
    @apply text-base font-normal;
  }
  .p-small {
    @apply text-sm font-light;
  }
  .p-button {
    @apply text-2xl font-normal;
  }
  .primary-btn {
    @apply text-c-dark bg-c-primary px-4 py-2 rounded-2xl;
  }
  .loading {
    @apply flex gap-3;
  }
  .loading div {
    @apply w-8 h-8 bg-c-light rounded-full;
    box-shadow: 0 -0.4rem rgba(26, 24, 13, 0.5) inset;
    animation: cycle 1s ease-in-out infinite;
  }
  .loading div:nth-child(1) {
    animation-delay: 0s;
  }
  .loading div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading div:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes cycle {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}
@layer components {
  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-c-light rounded-2xl;
  }

  /**/
  ::-webkit-inner-spin-button {
    @apply appearance-none;
  }

  ::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
@layer utilities {
}
